html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.clicky {
  width: 100%; }
  @media screen and (min-width: 75em) {
    .clicky {
      width: auto; } }

.greedy {
  width: 100%; }

#mainnav + footer a, button.emoji {
  cursor: pointer; }

/*
http://www.phase2technology.com/blog/exploring-maps-in-sass-3-3/
*/
#jumpsearch, [visually-hidden] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  top: 0;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

#tree, .actionnav nav button, .actionnav nav a {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); }

.dashboard.wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 2px;
  -ms-grid-columns: 43% 22%;
      grid-template-columns: 43% 22%;
  background-color: #fff;
  color: #444; }
  .dashboard.wrapper h1, .dashboard.wrapper h2, .dashboard.wrapper h3, .dashboard.wrapper h4, .dashboard.wrapper h5, .dashboard.wrapper h6 {
    margin: 0; }
  .dashboard.wrapper main h2, .dashboard.wrapper main h3 {
    font-size: 28.8px;
    font-size: 1.8rem; }
  .dashboard.wrapper .box {
    background: #f0f0f0;
    border: 1px solid gainsboro;
    color: #3c3c3c;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%; }
  .dashboard.wrapper .a {
    grid-column: 1 / 3;
    -ms-grid-row: 1;
        grid-row: 1; }
  .dashboard.wrapper .b {
    -ms-grid-column: 3;
        grid-column: 3;
    grid-row: 1 / 3; }
  .dashboard.wrapper .c {
    -ms-grid-column: 1;
        grid-column: 1;
    -ms-grid-row: 2;
        grid-row: 2; }
  .dashboard.wrapper .d {
    -ms-grid-column: 2;
        grid-column: 2;
    -ms-grid-row: 2;
        grid-row: 2; }
  .dashboard.wrapper .terminal {
    grid-column: 1/4; }

* {
  box-sizing: border-box; }

html[contrast="white-on-black"] body {
  background: black !important;
  color: white !important; }

html[contrast="white-on-black"] * {
  background: black !important;
  color: currentColor !important;
  border-color: currentColor !important; }

html[contrast="white-on-black"] a[href] {
  text-decoration: underline !important; }

html[contrast="white-on-black"] *:focus, html[contrast="white-on-black"] *:active, html[contrast="white-on-black"] *:target {
  outline: 4px double yellow !important;
  border: none !important; }

html[contrast="black-on-white"] body {
  background: white !important;
  color: black !important; }

html[contrast="black-on-white"] * {
  background: white !important;
  color: currentColor !important;
  border-color: currentColor !important; }

html[contrast="black-on-white"] a[href] {
  text-decoration: underline !important; }

html[contrast="black-on-white"] *:focus, html[contrast="black-on-white"] *:active, html[contrast="black-on-white"] *:target {
  outline: 4px double black !important;
  border: none !important; }

@media screen and (-ms-high-contrast: active) {
  /* All high contrast styling rules */ }

select, input[type="file"] {
  max-width: 100%; }

textarea, input[type="text"] {
  box-sizing: border-box; }

body {
  margin: 0;
  background: #efefef;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

button[disabled] {
  opacity: 0.7; }

@media screen and (max-width: 640px) {
  body.snappy {
    -webkit-scroll-snap-type: proximity;
        -ms-scroll-snap-type: proximity;
            scroll-snap-type: proximity; }
    body.snappy .page-wrapper > * {
      -webkit-scroll-snap-coordinate: 0 -52px;
          -ms-scroll-snap-coordinate: 0 -52px;
              scroll-snap-coordinate: 0 -52px; } }

@media screen and (min-width: 641px) {
  body.snappy #grail > main {
    -webkit-scroll-snap-type: proximity;
        -ms-scroll-snap-type: proximity;
            scroll-snap-type: proximity; }
    body.snappy #grail > main > form > *, body.snappy #grail > main > form details, body.snappy #grail > main > form section {
      -webkit-scroll-snap-coordinate: 0 -52px;
          -ms-scroll-snap-coordinate: 0 -52px;
              scroll-snap-coordinate: 0 -52px; } }

label[for="quick__new_settingvalue"], label[for="quick_sendmessage"] {
  margin-top: 8px;
  margin-top: .5rem;
  display: block; }

#mainnav__nav li form {
  padding-top: 8px;
  padding-top: .5rem; }

#mainnav__nav li form > div {
  margin-top: 8px;
  margin-top: .5rem;
  display: -ms-flexbox;
  display: flex; }
  #mainnav__nav li form > div > *:first-child {
    -ms-flex-positive: 1;
        flex-grow: 1;
    padding-right: 8px;
    padding-right: .5rem; }
  #mainnav__nav li form > div button, #mainnav__nav li form > div input[type="text"] {
    line-height: 32px;
    line-height: 2rem;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0 8px;
    padding: 0 0.5rem; }
  #mainnav__nav li form > div button {
    background: #EFEFEA;
    border: 1px solid #e2e2d9;
    color: #343436; }
  #mainnav__nav li form > div #new_pagetitle {
    line-height: 32px;
    line-height: 2rem;
    padding-left: 8px;
    padding-left: .5rem;
    padding-right: 8px;
    padding-right: .5rem; }

#mainnav__nav li.quick-upload form {
  padding-top: 0; }

#mainnav__nav li.quick-upload form > div button {
  line-height: initial; }

.command-line textarea {
  font-family: monospace, sans-serif;
  font-size: 12.8px;
  font-size: .8rem;
  background: #343436;
  color: white;
  margin-top: 16px;
  margin-top: 1rem; }

#grail main > header > div, #grail main > form > header > div {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  background: white; }

html.treeless #grail main {
  padding-left: 14px; }

#grail > .preview {
  position: relative;
  display: none; }
  body[data-previewing="true"] #grail > .preview {
    display: block; }
  #grail > .preview > div, #grail > .preview > div > iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    border: none; }
  #grail > .preview > div > iframe {
    width: 100%;
    height: 100%; }
  @media screen and (max-width: 640px) {
    #grail > .preview {
      min-height: 100vh; }
      #grail > .preview > div {
        left: 0.5rem;
        right: 0.5rem; } }

@media screen and (min-width: 641px) {
  html[complex-layout] #grail {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
        flex-grow: 1; }
    html[complex-layout] #grail main {
      padding-right: 14px; }
    html[complex-layout] #grail > .preview {
      -ms-flex-preferred-size: 320px;
          flex-basis: 320px;
      max-width: 320px;
      -ms-flex-positive: 0;
          flex-grow: 0; }
    html[complex-layout] #grail main, html[complex-layout] #grail aside {
      -ms-flex-positive: 2;
          flex-grow: 2; } }

@media screen and (min-width: 641px) {
  html[complex-layout] .page-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    max-height: 100vh;
    -ms-flex-direction: column;
        flex-direction: column; }
    html[complex-layout] .page-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    html[complex-layout] .page-wrapper #uberform #ubersearch {
      line-height: 3rem; }
    html[complex-layout] .page-wrapper .sidenav {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100009; } }
    @media screen and (min-width: 641px) and (min-width: 641px) {
      html[complex-layout] .page-wrapper .sidenav {
        font-size: 0.8em; }
        html[complex-layout] .page-wrapper .sidenav #mainnav {
          padding-right: 1rem; } }

@media screen and (min-width: 641px) {
    html[complex-layout] .page-wrapper .sidenav, html[complex-layout] .page-wrapper #stickybar {
      width: 100%; }
    html[complex-layout] .page-wrapper #stickybar {
      display: none; }
    html[complex-layout] .page-wrapper #tree {
      border-right: 1px solid #ddddd3;
      margin-right: 0; }
    html[complex-layout] .page-wrapper #tree, html[complex-layout] .page-wrapper main {
      overflow-y: auto;
      overflow-scrolling: touch;
      -webkit-overflow-scrolling: touch; }
    html[complex-layout] .page-wrapper .actionnav {
      position: absolute;
      font-size: 0.8em;
      top: 0;
      right: 0;
      max-width: 24rem;
      margin-left: auto;
      position: sticky;
      position: -webkit-sticky;
      background: #EFEFEA;
      z-index: 99999; }
      html[complex-layout] .page-wrapper .actionnav nav > * {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        line-height: 2;
        min-height: auto;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem; }
      html[complex-layout] .page-wrapper .actionnav nav > *:first-child {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        margin-bottom: 0;
        margin-right: .4em; }
    html[complex-layout] .page-wrapper main {
      overflow-y: auto;
      /* max-height: 20em; */
      -ms-flex-positive: 1;
          flex-grow: 1; } }

#mainnav, #stickybar {
  background-image: linear-gradient(to right, #3f4850 0%, #365462 46%, #3e5554 60%, #42554d 68%, #573d4e 100%); }

body.searching .page-wrapper {
  max-height: none; }

html[complex-layout] body.searching .sidenav {
  position: relative; }
  html[complex-layout] body.searching .sidenav #mainnav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media screen and (min-width: 641px) {
      html[complex-layout] body.searching .sidenav #mainnav {
        padding-right: 0; } }
    html[complex-layout] body.searching .sidenav #mainnav #mainnav__nav {
      -ms-flex-preferred-size: 100vw;
          flex-basis: 100vw;
      background: #2c3a48; }
      html[complex-layout] body.searching .sidenav #mainnav #mainnav__nav > details {
        border-right: 1px solid #1a2b3d;
        -ms-flex-positive: 1;
            flex-grow: 1; }
        html[complex-layout] body.searching .sidenav #mainnav #mainnav__nav > details:last-of-type {
          border: none; }
      html[complex-layout] body.searching .sidenav #mainnav #mainnav__nav > details > nav {
        position: relative; }

#mainnav__nav li.messages label {
  color: currentColor; }

#mainnav__nav li.system-setting label {
  color: currentColor; }

#mainnav__nav li.system-setting form > div {
  display: block; }

#mainnav__nav li.messages form > div {
  display: block; }

#mainnav__nav li.messages button[type="submit"] {
  margin-top: 8px;
  margin-top: .5rem;
  display: block;
  width: 100%;
  cursor: pointer; }

form > .sticky-scroll {
  margin-top: 1em;
  margin-bottom: 1em; }
  @media screen and (min-width: 991px) {
    form > .sticky-scroll {
      display: none; } }

#mainnav {
  color: white; }
  body.searching #mainnav .close-nav {
    display: block; }
  #mainnav + footer {
    background: #202b35;
    color: white;
    border: 1px solid #1b232c;
    border-left: none;
    border-right: none;
    transition: background 640ms ease; }
    #mainnav + footer:hover, #mainnav + footer:focus, #mainnav + footer:target, #mainnav + footer:active {
      background: #1b232c;
      border: 1px solid #151b22; }
    body.searching #mainnav + footer {
      display: block; }
    #mainnav + footer a {
      display: block;
      padding: 8px 0;
      padding: .5rem 0; }
    #mainnav + footer h3, #mainnav + footer h4 {
      margin: 0;
      text-align: center; }
  @media screen and (min-width: 641px) {
    html[complex-layout] #mainnav {
      display: -ms-flexbox;
      display: flex; }
      html[complex-layout] #mainnav .radio-bar {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        top: 0;
        clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px); } }
  @media screen and (min-width: 641px) and (min-width: 641px) {
    html[complex-layout] #mainnav > .page {
      -ms-flex-preferred-size: 19em;
          flex-basis: 19em; } }
  @media screen and (min-width: 641px) {
      html[complex-layout] #mainnav #uberform {
        margin: 0; } }
    @media screen and (min-width: 641px) and (min-width: 641px) {
      html[complex-layout] #mainnav #uberform {
        -ms-flex-preferred-size: 10em;
            flex-basis: 10em; } }
  @media screen and (min-width: 641px) {
      html[complex-layout] #mainnav #mainnav__nav > details > nav {
        position: absolute;
        z-index: 99999; } }
  @media screen and (min-width: 641px) and (min-width: 641px) {
    html[complex-layout] #mainnav #mainnav__nav {
      -ms-flex-positive: 4;
          flex-grow: 4;
      font-size: 0.85em; } }
  @media screen and (min-width: 641px) {
      html[complex-layout] #mainnav #uberform #ubersearch {
        margin-bottom: 0; }
      html[complex-layout] #mainnav #mainnav__nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.logo {
  height: 32px;
  height: 2rem;
  width: 32px;
  width: 2rem; }

#mainnav {
  padding: 0.5em 0 0 0; }
  #mainnav > * {
    padding: 0 1em; }
  #mainnav h1, #mainnav .version {
    margin: 0 auto; }
    #mainnav h1 code, #mainnav .version code {
      font-weight: 400;
      font-size: 0.8em;
      padding-left: .2em; }
  #mainnav .version {
    font-size: 1.1em;
    font-style: italic;
    font-weight: 400;
    color: #f8f8f8;
    display: -ms-flexbox;
    display: flex; }
    #mainnav .version span {
      line-height: 32px;
      line-height: 2rem;
      padding-left: .4em; }
  #mainnav a {
    color: currentColor; }

html:not(.hide-unmatched-elements) #mainnav__nav li[hidden] {
  display: block;
  opacity: 0.5; }

@media screen and (max-width: 480px) {
  [mobile-hidden] {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    top: 0;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px); } }

#stickybar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 8px;
  padding: .5rem;
  border-bottom: 1px solid #1a2b3d; }
  @media screen and (min-height: 320px) {
    #stickybar {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 99999; } }
  #stickybar > div > * {
    margin-right: 8px;
    margin-right: 0.5rem; }
    #stickybar > div > *:last-child {
      margin-right: 0; }
  #stickybar > *:first-child {
    margin-right: auto; }
  #stickybar div a, #stickybar div button {
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    text-decoration: none;
    padding-right: 6px;
    padding-left: 6px; }
  #stickybar div a, #stickybar div button, #stickybar div select {
    border: 1px solid #343436;
    margin-right: 8px;
    margin-right: .5rem;
    color: black;
    background: white;
    border-radius: 4px;
    font-size: 12.8px;
    font-size: .8rem;
    font-family: inherit;
    padding-top: 2px;
    padding-bottom: 3px;
    text-align: center; }
  #stickybar > div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  #stickybar h2 {
    margin: 0; }

details div label {
  display: block; }

details .auto-tags label, details .inline-describe label, details .options label {
  display: inline-block; }

.clicky {
  line-height: 2;
  border-radius: .25rem;
  background: #f0f0f0;
  border: 1px solid gainsboro; }

.tooltip {
  position: relative; }

.tooltip:hover:after, .tooltip:focus:after {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: attr(title);
  padding: 0.5em;
  position: absolute;
  z-index: 98;
  left: 4.5em;
  bottom: 0em;
  min-width: 10em;
  max-width: 100%; }

.tooltip.long:hover:after, .tooltip.long:focus:after {
  min-width: 20em;
  text-align: left; }

.tooltip.right:hover:after, .tooltip.right:focus:after {
  left: auto;
  right: 2.5em; }

button.emoji {
  border-radius: 0.25em;
  border: 1px solid #e6e6e6;
  background: white;
  color: #a0a0a0;
  text-align: center; }
  button.emoji.reaction {
    min-width: 3em;
    text-align: right; }
  button.emoji.add-reaction {
    margin-left: auto; }
  button.emoji span {
    font-style: monospace;
    padding-left: 0.5em; }

.emoji-bar {
  display: -ms-flexbox;
  display: flex; }
  @media screen and (min-width: 641px) {
    .emoji-bar.comfy {
      padding-right: 0; } }
  @media screen and (min-width: 641px) {
    html[complex-layout] .emoji-bar {
      margin-top: 0; } }

.comfy {
  padding-left: 8px;
  padding-left: 0.5rem;
  padding-right: 8px;
  padding-right: 0.5rem; }

fieldset > div {
  margin-bottom: 16px;
  margin-bottom: 1rem; }
  fieldset > div:last-child {
    margin-bottom: 0; }

.quick-upload form {
  margin-top: 16px;
  margin-top: 1rem; }

.dragdrop {
  margin-top: 16px;
  margin-top: 1rem;
  padding-top: 50%;
  background: #57728e;
  position: relative;
  border-radius: .75em;
  border: 1px solid #43596e;
  transition: background 500ms ease; }
  .dragdrop:hover {
    background: #6381a0; }
  .dragdrop:after {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    z-index: 99999;
    border: 2px dashed #43596e;
    content: " ";
    display: block;
    border-radius: .75em; }

#uberform {
  position: relative;
  min-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  padding-left: 8px;
  padding-left: 0.5rem;
  padding-right: 8px;
  padding-right: 0.5rem; }
  body.searching #uberform {
    -ms-flex-positive: 4;
        flex-grow: 4; }
  #uberform > div {
    position: relative; }
  @media screen and (max-width: 640px) {
    #uberform {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; } }
  #uberform label[for="ubersearch"] {
    position: absolute;
    color: #2F363D;
    bottom: 0.25em;
    z-index: 1; }
    #uberform label[for="ubersearch"] h1 {
      font-size: 1em;
      font-weight: 600; }
  #uberform #ubersearch {
    min-width: 96px;
    min-width: 6rem;
    font-size: 1em;
    line-height: 64px;
    line-height: 4rem;
    padding: 0 16px;
    padding: 0 1rem;
    width: 100%;
    border-radius: 0.25em;
    border: 1px solid grey;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    /*&:not(.dirty) {

    }
    &:placeholder-shown {

    }*/
    /*&:invalid {
    }*/
    /*+ label[for="ubersearch"] {
    }*/ }
    html.js #uberform #ubersearch + label[for="ubersearch"] {
      color: grey;
      text-transform: uppercase;
      font-size: .8em;
      font-weight: 500;
      transition: all 0 ease;
      transition-delay: 200ms;
      position: absolute;
      left: 16px;
      left: 1rem;
      bottom: 32px;
      bottom: 2rem;
      font-size: 1.2em; }
    @media screen and (min-width: 641px) {
      html[complex-layout] #uberform #ubersearch + label[for="ubersearch"] {
        bottom: .9rem; } }
    #uberform #ubersearch::-webkit-input-placeholder {
      opacity: 0;
      transition: opacity 240ms ease;
      transition-delay: 120ms; }
    @media screen and (min-width: 641px) {
      #uberform #ubersearch {
        padding-top: 0.25rem; } }
    @media screen and (max-width: 640px) {
      #uberform #ubersearch:focus, #uberform #ubersearch.dirty {
        padding-top: .5rem;
        transition: padding 240ms ease; } }
    #uberform #ubersearch:focus::-webkit-input-placeholder, #uberform #ubersearch.dirty::-webkit-input-placeholder {
      opacity: 1;
      transition-delay: 240ms; }
    #uberform #ubersearch:focus + label[for="ubersearch"], #uberform #ubersearch.dirty + label[for="ubersearch"] {
      font-size: 12.8px !important;
      font-size: .8rem !important;
      font-weight: bold !important;
      bottom: 64px !important;
      bottom: 4rem !important;
      color: #343436 !important;
      text-transform: uppercase !important;
      font-style: normal !important; }
      @media screen and (min-width: 641px) {
        #uberform #ubersearch:focus + label[for="ubersearch"], #uberform #ubersearch.dirty + label[for="ubersearch"] {
          bottom: auto !important;
          top: 0.25rem !important; } }

@media screen and (min-width: 641px) {
  html[complex-layout] #tree {
    padding-top: 1rem; }
    html[complex-layout] #tree > nav > details {
      margin-bottom: 1rem; } }

summary {
  padding: 16px 8px;
  padding: 1rem .5rem; }
  @media screen and (min-width: 641px) {
    html[complex-layout] summary {
      padding-top: 0;
      padding-bottom: 0; } }
  summary h1, summary h2, summary h3, summary h4, summary h5, summary h6 {
    display: inline; }

*:target {
  /*::-webkit-details-marker {
      color:#EB6436;
    }*/ }
  *:target > summary {
    background: #EB6436;
    color: white; }

/*#content {
  padding-bottom:.5rem;
  &:target {
    background:transparent;
    color:white;
    > summary {
      background:transparent;
      color:#EB6436;
    }
  }
}*/
.button-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

html.js details nav a {
  color: currentColor;
  text-decoration: none; }

details nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 8px;
  padding: 0 0 0 0.5rem; }
  details nav ul li {
    margin-bottom: 0.5em; }
    details nav ul li:last-of-type {
      margin: 0; }

@media screen and (max-height: 640px) and (max-weight: 640px) {
  header .actionnav {
    display: none; } }

details > div > div > div, details > div > div fieldset {
  margin-bottom: 16px;
  margin-bottom: 1rem; }

@media screen and (min-width: 641px) {
  html[complex-layout] main > .actionnav:last-of-type, html[complex-layout] main > form > .actionnav:last-of-type {
    display: none; } }

main > section, main > form > section {
  background: white;
  color: #343436; }

main form > * > details, main form > * > * > details {
  border-bottom: 1px solid #f0f0f0; }

main > header > div > details:last-of-type, main > form > header > div > details:last-of-type {
  margin-bottom: 0; }

@media screen and (min-width: 641px) {
  html[complex-layout] body:not(.searching) {
    overflow-y: hidden;
    min-height: 100vh; } }

/*.page-wrapper {
  @include media($gtMobile) {
    @include outer-container;
    .sidenav {
      @include span-columns(3);
    }
    main {
      @include span-columns(9);
    }
    > .actionnav {
      position:fixed;
      bottom:0;
      left:0;
      right:0;
    }
  }
}*/
details > nav header {
  padding: 0 8px;
  padding: 0 0.5rem; }

details.context > nav {
  padding: 0 8px;
  padding: 0 0.5rem; }

details.context > summary::-webkit-details-marker {
  transform: translateY(1.2em); }

details.context > summary > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding-left: 1em; }
  details.context > summary > div h3 {
    margin: 0;
    margin-right: auto; }

details.context ul {
  margin: 0;
  padding: 0 8px;
  padding: 0 0.5rem;
  list-style-type: none; }

details.context .flexible {
  display: -ms-flexbox;
  display: flex; }
  details.context .flexible h3 {
    -ms-flex-positive: 10;
        flex-grow: 10;
    margin: 0; }

#mainnav__nav {
  padding: 0; }
  #mainnav__nav h1, #mainnav__nav h2, #mainnav__nav h3, #mainnav__nav h4, #mainnav__nav h5, #mainnav__nav h6 {
    margin-bottom: 0; }
    #mainnav__nav h1 img, #mainnav__nav h2 img, #mainnav__nav h3 img, #mainnav__nav h4 img, #mainnav__nav h5 img, #mainnav__nav h6 img {
      max-width: 1em;
      margin-right: 4px;
      margin-right: .25rem; }
  #mainnav__nav input[type="file"] {
    max-width: 16em; }
  #mainnav__nav p {
    margin-top: 0.5em; }
  html.js #mainnav__nav a {
    text-decoration: none; }
  #mainnav__nav ul {
    padding-left: 0;
    border-bottom: 1px solid #1a2b3d;
    margin: 0; }
  #mainnav__nav details {
    border-bottom: 1px solid #1a2b3d; }
    #mainnav__nav details[open] {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none; }
    #mainnav__nav details nav {
      background: #2c3a48; }
    #mainnav__nav details p {
      margin-bottom: 0; }
    #mainnav__nav details li {
      padding-top: 16px;
      padding-top: 1rem;
      padding-bottom: 16px;
      padding-bottom: 1rem;
      margin-bottom: 0;
      transition: all 240ms ease; }
      #mainnav__nav details li h1, #mainnav__nav details li h2, #mainnav__nav details li h3, #mainnav__nav details li h4, #mainnav__nav details li h5, #mainnav__nav details li h6 {
        margin-top: 0; }
      #mainnav__nav details li:hover, #mainnav__nav details li:target, #mainnav__nav details li:active {
        background: #24303b;
        opacity: 1 !important; }
  #mainnav__nav li {
    border-top: 1px solid #1a2b3d;
    padding: 0 1em;
    color: #C9D4E1; }
    #mainnav__nav li p, #mainnav__nav li label {
      color: #5ABCE5; }
    #mainnav__nav li p a {
      color: #5ABCE5; }
  @media screen and (min-width: 641px) {
    html[complex-layout] #mainnav__nav > details > summary {
      line-height: 3; } }

.radio-bar fieldset {
  border-color: white; }

.radio-bar fieldset > div {
  display: -ms-flexbox;
  display: flex; }
  .radio-bar fieldset > div > * {
    margin-right: .5em; }
  .radio-bar fieldset > div input[type="radio"] {
    font-size: 1.4em; }

h1 {
  color: #343436; }
  #mainnav h1 {
    color: currentColor; }

.document, .resource-groups, .settings, .content, .light {
  background: white;
  color: #343436; }
  .document > div, .resource-groups > div, .settings > div, .content > div, .light > div {
    padding: 0 8px;
    padding: 0 .5rem; }
  .document details, .resource-groups details, .settings details, .content details, .light details {
    padding-left: 16px;
    padding-left: 1rem; }
  .document input, .document textarea, .resource-groups input, .resource-groups textarea, .settings input, .settings textarea, .content input, .content textarea, .light input, .light textarea {
    font-size: 19.2px;
    font-size: 1.2rem; }
  .document input[type="file"], .document input[type="image"], .resource-groups input[type="file"], .resource-groups input[type="image"], .settings input[type="file"], .settings input[type="image"], .content input[type="file"], .content input[type="image"], .light input[type="file"], .light input[type="image"] {
    font-size: 17.6px;
    font-size: 1.1rem; }
  .document select, .resource-groups select, .settings select, .content select, .light select {
    font-size: 14.4px;
    font-size: .9rem; }

.resource-groups table th:first-of-type, .resource-groups table td:first-of-type {
  width: 90%; }

main h1 {
  padding: 0 8px;
  padding: 0 0.5rem;
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem; }

table {
  width: 100%; }
  table th {
    text-align: left; }

ul.discrete {
  margin: 0;
  padding: 16px 0;
  padding: 1rem 0;
  list-style-type: none; }
  ul.discrete li {
    padding-bottom: 8px;
    padding-bottom: 0.5rem; }
    ul.discrete li:last-of-type {
      padding-bottom: 0; }

/*main {
  >*:last-child {
    padding-bottom:.5rem;
  }
}*/
input[type="text"], input[type="url"], input[type="password"], textarea {
  width: 100%; }

#tree {
  background: white;
  color: #566d87; }
  @media screen and (min-width: 641px) {
    html[complex-layout] #tree {
      font-size: 0.8em; } }
  #tree summary summary {
    padding: 0; }
  #tree > nav > * {
    border-bottom: 1px solid #f0f0f0; }

main > header > details, main > form > header > details {
  /*> div > div > div {
    margin-bottom:0.5rem;
    &:last-of-type {
      margin-bottom:0;
    }
  }*/ }
  main > header > details label, main > form > header > details label {
    display: block; }
  main > header > details > div > div > *:last-child, main > form > header > details > div > div > *:last-child {
    padding-bottom: 0; }
  main > header > details.settings fieldset label, main > form > header > details.settings fieldset label {
    display: inline-block; }

label[for="hidemenu"], label[for="published"] {
  display: inline; }

#contentarea {
  width: 100%; }

#content > details > div {
  padding: 0 8px;
  padding: 0 0.5rem; }

.actionnav {
  font-size: 1em;
  color: #555555;
  padding: 8px;
  padding: 0.5rem;
  background: #e4e4e4; }
  .actionnav nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .actionnav nav button, .actionnav nav a {
      min-height: 3em;
      /* safari bug need to report this to flexbugs */
      line-height: 48px;
      line-height: 3rem;
      font-size: inherit;
      background: white;
      text-align: center;
      color: currentColor;
      text-decoration: none;
      display: block; }
    .actionnav nav > * {
      margin: 0;
      padding: 0;
      -ms-flex-positive: 1;
          flex-grow: 1;
      border-radius: .25rem;
      border: none;
      margin-right: 6.4px;
      margin-right: .4rem; }
      .actionnav nav > *:first-child {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 6.4px;
        margin-bottom: .4rem;
        background-color: #2b9385;
        background-image: linear-gradient(#2b9385, #007571);
        color: white; }
      .actionnav nav > *:last-child {
        margin-right: 0; }

/*# sourceMappingURL=main.css.map */