@import "vars";

@mixin shaded() {
  box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.1);
}

%shaded {
  @include shaded;
}

@mixin background-fixed() {
  background-repeat: var(--background-fixed-repeat);
  background-position: var(--background-fixed-position);
  background-attachment: var(--background-fixed-attachment);
}

%background-fixed {
  @include background-fixed;
}
